body {
    margin: 0;
    padding:0;
    /* display:inline; */
}
/* .div-inline {
    display:inline;
} */
.a1 {
    font-family: MI-LANTING_GB-OUTSIDE-YS;
    font-size: 4vw;
    color: #1C1C1C;
    letter-spacing: 2.95px;
    text-align: center; 
    margin:0 auto 0 auto;
    padding-bottom:6vw;
}
#container {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.div1 {
    
    box-sizing: border-box; 
    height:11vw;
    width:100vw;
    -webkit-box-pack:center;
    -webkit-box-align: center;
    /* border:3vw;  */
    background-color:#ECECEC;
    line-height:11vw;/*垂直居中*/
    text-align:center;
}

.div2 {
    width:264px;
    height:509px;
    margin:48px 36px 0px 36px;
}

.img1 {
    width:264px;
    height:352px;
    
}

.p1 {
    text-indent:0px;
    font-family: MI-LANTING_GB-OUTSIDE-YS;
    font-size: 36px;
    color: #333333;
    letter-spacing: 2.25px;
}
