body {
    margin: 0;
    padding:0;
    /* display:inline; */
}
/* .div-inline {
    display:inline;
} */
.a1 {
    font-family: MI-LANTING_GB-OUTSIDE-YS;
    font-size: 45px;
    color: #1C1C1C;
    letter-spacing: 2.95px;
    text-align: center; 
    margin:0 auto 0 auto;
    height:60px;
}
.div1 {
    display: flex;
    box-sizing: border-box; 
    height:120px;
    -webkit-box-pack:center;
    -webkit-box-align: center;
    border:30px; 
    background-color:#ECECEC;
}

.div2 {
    width:336px;
    height:509px;
    float:left;
    margin:0;
}

.img1 {
    width:264px;
    height:352px;
    float:right; 
}

.p1 {
    text-indent:72px;
    font-family: MI-LANTING_GB-OUTSIDE-YS;
    font-size: 36px;
    color: #333333;
    letter-spacing: 2.25px;
}
